
.Header{
	width: 100%;
	Height: 70px;
	display: flex;
	margin-bottom: 25px;
	justify-content: flex-end;
}
 	
.logo-C{
		
		@media (max-width: 1011px){
  	width: 60%;
  	height: 45%;
  		} 

	}

.opts p{
		@media (max-width: 1011px){
  	font-size: 12px;
  		} 

	}

	.dropdownlis{
	display: none;
  position: absolute;
  min-width: 0%;
  cursor: pointer;
  border-radius: 10%;
  margin: 0% 0%;
  padding-top: 0px;
  top: 0;              /* Aligns the top of the submenu with the top of the parent */
  right: 3%;         /* Forces the submenu to expand to the left of the parent link */
  width: 40px;
  font-family: "Bookman old style";
  color: white;
  padding-top: 	3%;
}



.dropdow:hover .dropdownlis{
  display: grid;
  grid-auto-rows: 0.05fr;
  .opts{
		width: 100vw;
		height: 100%;
		display: flex;
		justify-content: flex-end;
	}

  } 
	

	.opts{
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: flex-end;
		position: 	relative;	
	}
	
	.optionValue{
		 top: 0;  

		padding: 10px 15px;
		 padding-top: 0px; 
		 margin-top: 0px;
		font-size: 1rem;
		
		color: white;
		
	}

	.dropdownlisting{
		display: none;
		position: absolute;
  min-width: 0%;
  cursor: pointer;
  border-radius: 10%;
  margin: 0% 0%;
  padding-top: 0px;
	}
	
	.dropdow:hover .dropdownlisting{
  display: grid;
  grid-template-rows: 0.0005fr 0.0005fr;

  } 
.listdown p{
padding-top: 10%;

}